<h1>{{tweet}}</h1>
{{rawDate}}
<button class="btn btn-danger" {{action 'delete'}}>Delete!</button>

<h2>Comments</h2>

{{#each comments}}
  <p>{{text}}</p>
{{/each}}

<p>{{#link-to 'new-comment' this.id class="btn btn-default"}}New comment{{/link-to}}</p>

{{outlet}}
