<h1>Tweets</h1>

<form class="form" role="form">
  <div class="form-group">
    <label for="tweet">Tweet:</label>
    {{input id="tweet" class="form-control" value=tweet maxlength="140"}}
  </div>
  <button class="btn btn-success" {{action 'save'}}>Tweet!</button>
</form>
<hr>
{{#each item in controller}}
  <div class="row well" {{action 'toggleDate'}}>
    <span>{{#link-to 'tweet' item.id}} {{item.tweet}} {{/link-to}}</span>
    {{#if item.isExpanded}}
      <span class="tweet-stamp">{{item.rawDate}}</span>
    {{/if}}
  </div>
{{/each}}
